{% extends 'base.html.twig' %}

{% block content %}

    {% for photo in photos %}
    <div>
        <img width="300" src="{{ asset('images/exo2/' ~ photo) }}" alt="" />
    </div>
    {% endfor %}

{% endblock %}
