<p>Je suis la bannière principale</p>

{#
<a href="/demo1">Demo 1</a>
#}

{# meilleure pratique #}
<a href="{{ path('demo1') }}">Demo 1</a>
<a href="{{ path('color_form') }}">Formulaire couleur</a>
<a href="{{ path('color_list') }}">Couleurs</a>
<a href="{{ path('client_index') }}">Clients</a>
