<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        {#<link href="/css/banner.css" rel="stylesheet">#}
        {# meilleure pratique => asset() #}
        <link href="{{ asset('css/banner.css') }}" rel="stylesheet">
    </head>
    <body>

        {% include 'includes/banner.html.twig' %}

        {% block content %}{% endblock %}


        
    </body>
</html>
